@mixin responsive($breakpoint) {
    @if $breakpoint == xs {
      @media (max-width: 375px) {
        @content;
      }
    }
  
    @if $breakpoint == sm {
      @media screen and (max-width: 576px) {
        @content;
      }
    }
  
    @if $breakpoint == md {
      @media screen and (max-width: 768px) {
        @content;
      }
    }
  
    @if $breakpoint == l {
      @media screen and (max-width: 992px) {
        @content;
      }
    }
  
    @if $breakpoint == xl {
      @media screen and (max-width: 1200px) {
        @content;
      }
    }
  }
  
  @mixin row($columns) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    column-gap: 0.7rem;
  }
  