<div class="wrapper-container">
    <div class="error-wrapper">
        <div class="error-container">
            <h1 class="error-header">
                <%= error.status %>
            </h1>
            <h4 class="error-subtitle"><%= message %></h4>
            <small class="error-explanation">You finally broke the link. Typical you. </small>
        </div>
    </div>
</div>