<div class="wrapper">
    <div class="wrapper-container">
        <div class="wrapper-flex">
            <h1 class="title">smallz</h1>
            <p class="description">Build Click-Worthy Links</p>
            <div class="inline" data-name="snack"></div>
            <form class="form" name="shorturl">
                <!-- <div class="form-group">
                    <label for="">name</label>
                    <input type="text" placeholder="Paste link here to shorten..." class="form-control">
                </div> -->
                <div class="form-group" >
                    <input type="text" placeholder="Paste link here to shorten..." class="form-control" name="longurl" id="longurl" value="">
                    <input type="submit" class="form-button" value="Create" name="submitbtn">
                </div>
            </form>
            <ul class="list" data-name="lists">
                <li class="item">
                    <p class="item-longurl">https://longestgoing.com/djknfldmkd</p>
                    <a href="#!" class="item-shorturl">http://localhost/hsjkslcnskl</a>
                </li>
                <li class="item">
                    <p class="item-longurl">https://longestgoing.com/djknfldmkd</p>
                    <a href="#!" class="item-shorturl">http://localhost/hsjkslcnskl</a>
                </li>
            </ul>
        </div>
    </div>
</div>