* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fff;
}

body::before {
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: -webkit-gradient(linear, left top, right bottom, from(#c0392b), to(#9b59b6));
  background: linear-gradient(top left, #c0392b, #9b59b6);
  -webkit-clip-path: circle(35% at 80% 10%);
          clip-path: circle(35% at 80% 10%);
}

@media screen and (max-width: 768px) {
  body::before {
    -webkit-clip-path: circle(28% at 100% 10%);
            clip-path: circle(28% at 100% 10%);
  }
}

.padding-all {
  padding: 1rem;
}

[data-theme="light"] header {
  position: relative;
  display: block;
  height: 50px;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 5px 5px rgba(239, 239, 239, 0.5);
          box-shadow: 0px 5px 5px rgba(239, 239, 239, 0.5);
  z-index: 2;
  padding: 0;
  margin: 0;
}

[data-theme="light"] header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

[data-theme="light"] header nav p {
  position: relative;
  font-weight: bold;
  color: #c0392b;
  text-transform: capitalize;
  letter-spacing: 1px;
}

[data-theme="light"] .wrapper {
  position: relative;
  display: block;
  width: 100%;
}

[data-theme="light"] .wrapper-container {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;
}

[data-theme="light"] .wrapper .inline {
  position: relative;
  display: inline;
}

[data-theme="light"] .wrapper .snackbar {
  --direction: alternate;
  display: block;
  position: relative;
  width: 100%;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 10px;
  -webkit-animation-name: snackbarframes;
          animation-name: snackbarframes;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: var(--direction, alternate);
          animation-direction: var(--direction, alternate);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

[data-theme="light"] .wrapper .snackbar-success {
  background: rgba(39, 174, 96, 0.4);
}

[data-theme="light"] .wrapper .snackbar-error {
  background: rgba(192, 57, 43, 0.4);
}

[data-theme="light"] .wrapper .snackbar-text {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 13px;
}

[data-theme="light"] .wrapper-flex {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 100vh;
  width: 100%;
}

[data-theme="light"] .wrapper-flex .title {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  font-size: 5rem;
  color: #c0392b;
}

@media screen and (max-width: 768px) {
  [data-theme="light"] .wrapper-flex .title {
    font-size: 4rem;
  }
}

[data-theme="light"] .wrapper-flex .description {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  [data-theme="light"] .wrapper-flex .description {
    font-size: 1.2rem;
  }
}

[data-theme="light"] .wrapper .form {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
}

[data-theme="light"] .wrapper .form-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 15px 0;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

[data-theme="light"] .wrapper .form-control, [data-theme="light"] .wrapper .form-button {
  border: none;
}

[data-theme="light"] .wrapper .form-control {
  border: 6px solid #fff;
  padding: 0 1rem;
  border-radius: inherit;
  -webkit-box-shadow: inset 5px 5px 5px rgba(239, 239, 239, 0.4), inset -5px -5px 5px rgba(239, 239, 239, 0.4);
          box-shadow: inset 5px 5px 5px rgba(239, 239, 239, 0.4), inset -5px -5px 5px rgba(239, 239, 239, 0.4);
}

[data-theme="light"] .wrapper .form-button {
  position: relative;
  cursor: pointer;
  padding: 0 10px;
  background: #c0392b;
  color: #fff;
  border: none;
}

[data-theme="light"] .wrapper .list {
  display: -ms-grid;
  display: grid;
  gap: 8px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  position: relative;
  list-style: none;
  margin: 1rem 0 !important;
  padding: 1rem 0 !important;
}

[data-theme="light"] .wrapper .list .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #dddcdc;
  padding: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px rgba(239, 239, 239, 0.5);
          box-shadow: 5px 5px 5px rgba(239, 239, 239, 0.5);
}

[data-theme="light"] .wrapper .list .item-longurl {
  padding: 0;
  margin: 5px 0;
}

[data-theme="light"] .wrapper .list .item-shorturl {
  text-align: right;
}

@media screen and (max-width: 768px) {
  [data-theme="light"] .wrapper .list .item {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  [data-theme="light"] .wrapper .list .item-shorturl {
    text-align: left;
  }
}

@-webkit-keyframes snackbarframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes snackbarframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.error {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

.error-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
}

.error-container {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.error-header {
  display: block;
  text-align: center;
  font-size: 6rem;
  color: #34495e;
  padding: 0;
  margin: 0;
  text-shadow: -5px -5px 5px rgba(239, 239, 239, 0.5), 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.error-subtitle {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  color: #c0392b;
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
}

.error-explanation {
  display: block;
  text-align: center;
  font-size: 1rem;
  color: #34495e;
  padding: 0;
  margin: 10px 0;
  letter-spacing: 1px;
}
/*# sourceMappingURL=main.css.map */